#head-line {
  width: 700px;
  margin: 20px auto;
}
h2 {
  font-size: 24px;
  font-weight: bold;
  line-height: 40px;
  margin: 20px;
  color: #fff;
  background: orange;
  border-radius: 30px;
  text-align: center;
}
h3 {
  font-size: 20px;
  font-weight: bold;
  color: blue;
  line-height: 40px;
  text-align: center;
}
p {
  text-align: center;
}
form, table, #ul {
  width: 700px;
  margin: 0 auto;
}
tr {
  margin: 15px;
}
th {
  text-align: right;
}
input {
  line-height : 30px;
  width: 400px;
  margin: 10px;
  margin-left: 10px;
}
select {
  line-height : 30px;
  height: 30px;
  width: 110px;
}
#btn {
  width: 500px;
  padding: 30px;
  margin: 0 auto;
  text-align: center;
}
#btn > a {
  text-align: center;
}
#formCheck {
  font-size: 20px;
  width: 120px;
  padding: 5px;
  border: 1px solid #000;
  color: #fff;
  background: #3366FF;
}
.btn {
  width: 120px;
  padding: 11px 20px;
  border: 1px solid #000;
  color: #000;
  background: #FFCCCC;
}
.btn:hover {
  opacity: 0.5;
}
#formCheck:hover {
  opacity: 0.5;
}