header {
  line-height: 30px;
  padding: 3px;
  background: orange;
  border-radius: 10px;
}
#menu {
  display: flex;
  justify-content:space-between;
}
#top{
  padding: 8px 5px;
  margin: 0 5px;
  color: orangered;
  background: #fff;
  border-radius: 10px;
  font-weight: bold;
  font-size: 24px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#admin {
  padding: 8px;
  margin: 0 10px;
  font-size: 20px;
  color: #000;
  background: #fff;
  border: 1px solid gray;
  border-radius: 20px;
}
header > a {
  display: block;
}
#top:hover {
  opacity: 0.5;
}
#admin:hover {
  background-color: cornsilk;
  opacity: 0.5;
}

#menu > ul {
  display: flex;
  justify-content:space-between;
}
#menu > ul > li{
  padding: 5px;
  margin: 0 10px;
  color: #000;
  background: #fff;
  border: 1px solid gray;
  border-radius: 20px;
}
#menu > ul > li:hover {
  background-color: cornsilk;
  opacity: 0.5;
}

p {
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 20px;
}
#main {
  height: 100%;
  width: 1000px;
  margin: 0 auto;
}
#form {
  width: 100%;
  margin: 0 auto;
}
#search {
  width: 90%;
  height: 30px;
  margin: 10px;
  margin-top: 0;
  margin-left: 20px;
}
.cate {
  display: block;
  width: 500px;
  margin: 0 auto;
  text-align: center;
}
#item_images {
  height: 100%;
  width: 900px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.item_image {
  display: inline-block;
  height: 250px;
  width: 250px;
  padding: 5px;
  margin: 15px;
  border: 1px solid lightgray;
}
.item_image > a {
  display: block;
  height: 200px;
  width: 230px;
  margin: 3px;
}
h6 {
  display: block;
  background-color: red;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}